<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.HTML" version="19.11.0" targetFramework="net472" />
  <package id="Aspose.PDF" version="19.11.0" targetFramework="net472" />
  <package id="Aspose.Words" version="19.11.0" targetFramework="net472" />
  <package id="epubReader" version="1.0.0" targetFramework="net472" />
  <package id="SQLite" version="3.13.0" targetFramework="net472" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
  <package id="VersOne.Epub" version="3.0.3.1" targetFramework="net472" />
</packages>